asgiref==3.9.1
certifi==2025.6.15
charset-normalizer==3.4.2
distlib==0.4.0
Django==5.2.5
filelock==3.18.0
idna==3.10
packaging==25.0
pipenv==2025.0.4
platformdirs==4.3.8
PyMySQL==1.1.1
requests==2.32.4
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.33.1
